.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: rgb(0, 255, 0);
}

h1 {
    color: gray;
}

body {
  background-color: rgba(0, 128, 255, 0.25);
}